# externalIP:
externalIP: 10.61.3.161
# Volume Settings
nfs:
  storageClassName: astrago-nfs-csi
  server: 10.61.3.2
  basePath: /kube_storage/stage-astrago
# Keycloak Settings
keycloak:
  adminUser: admin
  adminPassword: xiirocks
  servicePort: 30001
# Astrago Settings
astrago:
  proxyUrl: http://10.61.3.161:30080
  servicePort: 30080
  userInitPassword: astrago
  keycloak:
    externalKeycloakUrl:
    realm: astrago
    client: astrago-client
    clientSecret: astragosecret
    userInitPassword: astrago
  mariadb:
    rootPassword: root
    username: astrago
    password: xiirocks
    maxLifetime: "3595000"
  core:
    registry: "harbor.xiilab.com:32443"
    repository: "astrago/core"
    imageTag: "stag-1b45"
  batch:
    registry: "harbor.xiilab.com:32443"
    repository: "astrago/batch"
    imageTag: "stag-1b45"
  monitor:
    registry: "harbor.xiilab.com:32443"
    repository: "astrago/monitor"
    imageTag: "stag-1b45"
  frontend:
    registry: "harbor.xiilab.com:32443"
    repository: "astrago/frontend"
    imageTag: stag-1f54
  oneview:
    enabled: true
harbor:
  enabled: true
offline:
  registry: # 192.168.56.11:35000
  httpServer: # http://192.168.56.11
